.nav .nav-item
{
	border-radius: 0;
}

.nav .nav-item .active 
{
	background-color: #fddc57;
	border-radius: 0;
	border-color: #00a885;
	color:#fff;
	text-decoration: underline;
}

.btn
{
	border-radius: 0;
}

.form-control
{
	border-left-color:#fff;
	border-right-color: #fff;
	border-top-color: #fff;
}

.form-control:focus
{
	border-left-color:#fff;
	border-right-color: #fff;
	border-top-color: #fff;
	border-bottom-color: #fddc57;
	border-bottom-width: 2px;
}